/* Left panel: Circular image and title */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh;
    transition: background-color 0.3s;
}

.left-panel h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.left-panel-links {
    list-style: none;
    padding: 0;
    margin-top: 2vh;
    text-align: center; /* Center align the links */
}

.left-panel-links li {
    margin: 1vh;
}

.left-panel-links a {
    text-decoration: none;
    color: #007bff;
    /*font-size: 16px; !* Increase font size *!*/
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 500; /* Optional: Make it slightly bolder */
    transition: color 0.3s ease-in-out;
}

.left-panel-links a:hover {
    color: #0056b3;
}

