/* Style the main sections of main home */
.main-section {
    width: 94%;
    margin-left: 5vw;
    text-align: left;
    transition: background-color 0.3s;
    padding-bottom: 3vh;
}

/* Right panel: Sections (Home, About, CV) */
.right-panel {
    padding: 20px;
    overflow-y: auto;
}

/* Tab content styling */
.tab-content {
    display: none; /* Hide all sections by default */
}

.tab-content.active {
    display: block; /* Show active section */
}

.name-block {
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Controls overall scaling */
    line-height: 1.2;
    text-align: center;
}

.name-block h3 {
    margin: 0;
    font-weight: 600;
    font-size: 2em;
}

.name-block .subtitle {
    font-size: 0.875em; /* Relative to container */
    font-weight: 500;
    color: #666; /* Text color for Postdoctoral Fellow under my name permanently light grey*/
    margin-top: -0.3em; /* Adjust vertical spacing */
}

.info-list {
    font-size: 1rem; /* 1rem = 16px by default, scalable based on the root font size */
    line-height: 1.6; /* Relative to the font size */
    max-width: 100%;
    padding-left: 1.25rem; /* 1.25 * 16px = 20px, relative padding */
    margin-top: 0;
}

/* This is for links to unis in the short cv list */
.mylink {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    .info-list {
        color: violet;
        background-color: green;
        font-size: 0.875rem; /* Smaller font size on mobile */
        padding-left: 1rem; /* Adjust padding for smaller screens */
    }
}
